// If you want to override variables do it here
@import "variables";

// Import welcomeRestros styles
@import "~@coreui/coreui/scss/coreui.scss";

// Some temp fixes
@import "fixes";

// If you want to add something do it here
@import "custom";
.c-sidebar-brand {
    display: flex;
    flex: 0 0 55px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}